@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   line-height: 1;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   max-width: 100%;
   display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

html {
   font-size: 62.5%;
}

:root {
   /* Typography */
   --family: "Nunito Sans", sans-serif;
   --fs-sm: 1.4rem;
   --fs-md: 1.6rem;
   --fw-light: 300;
   --fw-normal: 600;
   --fw-bold: 800;

   /* Other */
   --radius: 0.5rem;
}

body[data-theme="dark"] {
   --colors-text: hsl(0, 0%, 100%);
   --colors-bg: hsl(207, 26%, 17%);
   --colors-ui-base: hsl(209, 23%, 22%);

   --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}
body[data-theme="light"] {
   --colors-text: hsl(200, 15%, 8%);
   --colors-bg: hsl(0, 0%, 98%);
   --colors-ui-base: hsl(0, 0%, 100%);

   --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
   font-weight: var(--fw-light);
   font-family: var(--family);
   color: var(--colors-text);
   background-color: var(--colors-bg);
}
